streamlit
pandas
numpy
SQLAlchemy
psycopg2-binary
scikit-learn
plotly
openpyxl
xgboost
matplotlib
seaborn
imbalanced-learn
git add requirements.txt
git commit -m "Add SQLAlchemy to requirements.txt"
git push origin main
